
CREATE TABLE notifications (
  id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
  message TEXT NOT NULL,
  type TEXT NOT NULL, -- e.g., 'nudge', 'reschedule_prompt'
  read BOOLEAN DEFAULT FALSE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT now()
);

ALTER TABLE notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Users
can
view
their
own
notifications.\ ON notifications
  FOR SELECT USING (auth.uid() = user_id);

CREATE POLICY \Users
can
insert
their
own
notifications.\ ON notifications
  FOR INSERT WITH CHECK (auth.uid() = user_id);

CREATE POLICY \Users
can
update
their
own
notifications.\ ON notifications
  FOR UPDATE USING (auth.uid() = user_id);

CREATE POLICY \Users
can
delete
their
own
notifications.\ ON notifications
  FOR DELETE USING (auth.uid() = user_id);

